* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
.inputOption {
    height: 10vh;
    width: 100vw;
    background-color: blue;
    align-items: center;
    justify-content: center;
    display: flex;
}
.inputOption>input {
    height: 50%;
    width: 40%;
    border-radius: 10px;
    outline: none;
    border: none;
    align-items: flex;
}
#btn {
    height: 4vh;
    width: 10vw;
    background-color: rgb(99, 234, 50);
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 5px;
    color: white;
    font-weight: 700;
    padding: 2px 4px 2px 4px;
    font-size: 0.7rem;
}
#deleteBtn {
    height: 40%;
    width: 10%;
    background-color: rgb(234, 78, 50);
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 5px;
    color: white;
    font-weight: 700;
    padding: 2px 4px 2px 4px;
    font-size: 0.7rem;
}
.containerList{
    height: 90vh;
  width: 100vw;
  background-color: rgb(225, 131, 131);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.task{
    margin-top: 15px;
  height: 10%;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #20e2af;
  font-size: 1.2rem;
  padding: 2px 14px 2px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}